<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Photos</h1>
    <img
      class="images"
      src="/images/mechanical-engineer.png"
      alt="Woman Mechanical Engineer"
    />
    <img
      class="images"
      src="/images/biomedical-engineer.png"
      alt="Woman Biomedical Engineer"
    />
    <img
      class="images"
      src="/images/spanish-teacher.png"
      alt="Woman Spanish Teacher"
    />
    <nav>
      <div class="nav-btns">
        <a href="/about">About</a>
      </div>
      <div class="nav-btns">
        <a href="/work">Work</a>
      </div>
      <div class="nav-btns">
        <a href="/">Home</a>
      </div>
    </nav>
  </body>
</html>
